<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fundo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FunDo">

        <receiver android:name=".home.Notification"
            android:enabled="true"/>
        <activity
            android:name=".label.EndlessView"
            android:exported="true" />
        <activity
            android:name=".label.ReminderNotes"
            android:exported="true" />
        <activity
            android:name=".label.ArchivedNotes"
            android:exported="true" />
        <activity
            android:name=".label.AddLabel"
            android:exported="true" />
        <activity
            android:name=".home.AddingLabel"
            android:exported="true"
            android:label="@string/title_activity_adding_label"
            android:theme="@style/Theme.FunDo.NoActionBar" />
        <activity
            android:name=".home.DeletedNotes"
            android:exported="true" />
        <activity
            android:name=".home.HomeGridActivity"
            android:exported="true" />
        <activity
            android:name=".ui.HomeActivityNew"
            android:exported="true" />
        <activity
            android:name=".home.LinearGridActivity"
            android:exported="true" />
        <activity
            android:name=".home.AddNotesActivity"
            android:exported="true" />
        <activity
            android:name=".ui.HomeActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity2"
            android:exported="true" />
        <activity
            android:name=".ui.FacebookSignin"
            android:exported="true" />
        <activity
            android:name=".ui.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
    </application>

</manifest>